.Footer {
  bottom: 0;
  width: 100%;
  font-size: 10px;
  color: gray;
  text-align: center;
  padding: 12px 0px;
  background-color: #f4f4f4;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}